<h1>Now Playing</h1>
<div class="row">
    {{#each movies}}
      <div class="col-sm-3">
          <h3>{{this.title}}</h3>
          {{#each this.genre_names}}
          <p>{{this}}</p>
          {{/each}}
          <!-- for some reason {{baseUrl}} does not work here, so I manually inserted the url -->
          <p><a href="/movies/{{this.id}}">
              <img src="{{this.baseUrl}}w92{{this.poster_path}}" alt="{{this.title}}">
          </a></p>
      </div>
    {{/each}}
</div>
