<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>New Review for <em>{{movie.title}}</em></h1>
        <p> <img src="https://image.tmdb.org/t/p/w92{{movie.poster_path}}" alt="{{movie.title}}"> </p>
    <form action="/movies/{{movieId}}/reviews" method="post">
        {{> reviews-form}}
        <input type="hidden" name="movieId" value="{{movieId}}">
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Save Review</button>
        </div>
    </form>
    <form class="" action="/" method="get">
        <div class="form-group">
            <button class="btn btn-primary" type="cancel" name="button">Cancel</button>
        </div>
    </form>
    </div>
</div>
